<div class="card  text-white bg-dark m-5 p-4 mx-auto" style="max-width: 30rem;">
    <h3 style="text-align:center;text-shadow:2px 2px rgb(192, 187, 187)">Add Data</h3>
  <form  (ngSubmit)="onsubmit(myform)" #myform="ngForm">
    <div class="form-group">
      <label for="bookname">bookname</label>
      <input   type="text" class="form-control" #bookname='ngModel' required minlength="3" name="name" [(ngModel)]="book.bookname"/>
    </div>
      <div *ngIf="bookname.invalid && (bookname.touched || bookname.dirty)" class=" mt-2 alert alert-danger">
        <div *ngIf="bookname.errors?.required">
          book name should be required
        </div>
        <div *ngIf="bookname.errors?.minlength">
          length should be minimum 3
        </div>
      </div>
      <div class="form-group">
      <label for="qty">qty</label>
      <input  class="form-control" type="number" #qty="ngModel"  min="3" name="qty" [(ngModel)]="book.qty" required />
      </div>
      <div *ngIf="qty.invalid && (qty.touched || qty.dirty)" class=" mt-2 alert alert-danger">
          <div *ngIf="qty.errors?.required">
            qty should be required
          </div>
          <div *ngIf="qty.errors?.min">
            quanitity minimum 3 required
          </div>
        </div>
        <div class="form-group">
        <label for="author">authors</label>
        <input   type="text" class="form-control" #author='ngModel' required minlength="3" name="authors" [(ngModel)]="book.author"/>
        </div>
        <div *ngIf="author.invalid && (author.touched || author.dirty)" class=" mt-2 alert alert-danger">
          <div *ngIf="author.errors?.required">
            author Name should be required
          </div>
          <div *ngIf="author.errors?.minlength">
            length should be minimum 3
          </div>
        </div>
        <div class="form-group">
        <label for="address">address</label>
        <input   type="text" class="form-control" #address='ngModel' required minlength="3" name="address" [(ngModel)]="book.address"/>
        </div>
        <div *ngIf="address.invalid && (address.touched || address.dirty)" class=" mt-2 alert alert-danger">
          <div *ngIf="address.errors?.required">
            address should be required
          </div>
          <div *ngIf="address.errors?.minlength">
            length should be minimum 3
          </div>
        </div>
      <div class="form-group">
      <button type="submit" [disabled]="myform.invalid" class="btn btn-danger form-control" >submit</button>
      </div>
  </form>
  </div>
  
